<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
      
    <section layout:fragment="contents" class="contents container my-5 text-center">
  <h1 class="mb-5">메모 리스트</h1>

  <table class="table table-bordered text-center w-75 mx-auto">
    <thead class="table-light">
      <tr>
        <th>No</th>
        <th>제목</th>
        <th>작성 날짜</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="post : ${postList}">
        <td th:text="${post.id}">1</td>
        <td th:text="${post.title}">제목</td>
        <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}">날짜</td>
      </tr>
    </tbody>
  </table>

  <div class="w-75 mx-auto text-end mt-3">
  	<a href="/post/create-view" class="btn btn-secondary ">메모 쓰기</a>
  </div>
</section>

</html>  